:root {
    --tkyx-dk-bl: #02308C;
    --tkyx-m-bl: #1A4B8C;
    --tkyx-o-bl: #234572;
    --tkyx-yell: #F2EEB3;
    --tkyx-wh: #F2F2F2;
}

html {
    background-color: var(--tkyx-wh);
}

body {
    color: var(--tkyx-wh);
}

#transparent {
    color: var(--tkyx-wh);
    opacity: 1;
}

#header {
    margin: 4rem 0;
}

#intro {
    color: var(--tkyx-o-bl);
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
}

.exit-icon:hover {
    cursor: pointer;
}

/*City Overview*/
.city-block *:hover {
    cursor: pointer;
}

.loc-card {
    padding: 7rem 12rem 8rem 12rem;
    margin: 12px !important;
}

.location {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 300;
}

.weather-info {
    margin-top: 2rem;
}

.img-container {
    width: 7rem;
    height: auto;
}

img.temp-icon {
    max-width: 100%;
    width: 7rem;
    height: auto;
}

.overview {
    height: 6rem;
}

.temp-desc {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
}

.rise-set {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1.5rem 2rem;
}

/*Weekday Display and Hourly Display*/
#fullscreen {
    display: none;
    background-color: var(--tkyx-m-bl);
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    z-index: 1000;
}

#current-overview {
    padding: 2rem;
}

#temp-city {
    margin: 0 2.5rem;
    font-size: 3rem;
}

#five-day {
    margin-top: 4rem;
    background-color: var(--tkyx-o-bl);
}

#hourly-report {
    display: none;
    background-color: var(--tkyx-o-bl);
    max-height: 50vh;
}

.hourly-date {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.weather-block {
    padding: 1rem;
}

.weather-block:hover {
    background-color: var(--tkyx-m-bl);
}

.weather-time {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.25;
}

.weather-hl {
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 1.25rem;
}

.forecast-icon {
    width: 3rem;
    height: auto;
    margin: 0.75rem 0;
}

.date {padding: 2rem;}

.date p {text-align: center;}

.date-block:hover {
    cursor: pointer;
    background-color: var(--tkyx-m-bl);
    border-top: 0.5px solid var(--tkyx-yell);
}

.sorry-msg {
    text-align: center;
    font-size: 1.25rem;
    padding: 1rem;
}

/*Salesforce Design Overrides*/
.slds-card + .slds-card { 
    margin-top: 0;
}

.slds-card, article.slds-card {
    background-color: var(--tkyx-o-bl) !important;
}

/*Media Queries*/ 
@media (max-width: 600px) {
    #temp-city {
        font-size: 1.5rem;
    }
    .date {
        font-size: 1rem;
    }
}
