:root {
    --tkyx-dk-bl: #02308C;
    --tkyx-m-bl: #1A4B8C;
    --tkyx-o-bl: #234572;
    --tkyx-yell: #F2EEB3;
    --tkyx-wh: #F2F2F2;
}

html {
    background-color: var(--tkyx-wh);
}

body {
    color: var(--tkyx-wh);
}

#transparent {
    color: var(--tkyx-wh);
    opacity: 1;
}

.city-block {margin-top: 2rem;}
.loc-card {
    padding: 7rem 12rem 8rem 12rem;
}

.loc-card:hover {
    cursor: pointer;
}

.location {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 300;
}

.weather-info {
    margin-top: 2rem;
}

.img-container {
    width: 7rem;
    height: auto;
}

img.temp-icon {
    max-width: 100%;
    width: 7rem;
    height: auto;
}

.overview {
    height: 6rem;
}

.temp-desc {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
}

/*Weekday Display and Hourly Display*/
#fullscreen {
    display: none;
    background-color: var(--tkyx-m-bl);
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    z-index: 1000;
}

#temp-city {
    margin: 0 2.5rem;
    font-size: 3rem;
}

#five-day {
    margin-top: 4rem;
    background-color: var(--tkyx-o-bl);
}
.forecast-icon {
    width: 3rem;
    height: auto;
    margin: 0.75rem 0;
}

.date {padding: 1rem;}

.date p {text-align: center;}

.date-block:hover {
    cursor: pointer;
    background-color: var(--tkyx-m-bl);
    border-top: 0.5px solid var(--tkyx-yell);
}

/*Salesforce Design Overrides*/
.slds-card + .slds-card { 
    margin-top: 0;
}

.slds-card, article.slds-card {
    background-color: var(--tkyx-o-bl) !important;
}